.newsletter {
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 72%);
  background: linear-gradient(#45dcf6, #3093de);
  margin: 80px 0px;
  padding: 150px 0px;
}

@media only screen and (max-width: 768px) {
  .newsletter {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    padding: 30px 0px;
  }
}
